Source: confluent-kafka-connect-storage-common
Section: misc
Priority: optional
Maintainer: Confluent Packaging <packages@confluent.io>
Build-Depends: debhelper (>= 9), java7-jdk, javahelper (>= 0.40),
 make, maven
Standards-Version: 3.9.3
Homepage: http://confluent.io

Package: confluent-kafka-connect-storage-common
Architecture: all
Depends: confluent-common
Description: Kafka Connect Storage Common contains packages used by storage
 connectors copying data between Kafka and distributed or cloud storage.
 Examples of such connectors are HDFS connector, S3 connector and others.
